.rncm__wrapper {
    padding: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    max-width: 100vw;
    line-height: 1.1;
}

.rncm__root {
    background-color: white;
    color: #121212;
    box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #f0f0f0;
}

.rncm__root-card {
    max-width: 500px;
    border-radius: 4px;
    padding: 16px;
}

.rncm__root-hidden {
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.rncm__cookie {
    margin-right: 8px;
}

.rncm__title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.rncm__text {
    margin-bottom: 8px;
}

.rncm__toggles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rncm__toggle {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rncm__toggle>input {
    margin-right: 8px;
}

.rncm__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px 0;
}

.rncm__button {
    border: 1px solid #121212;
    background: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 8px;
    font-weight: bold;
}

.rncm__button-outline:is(:hover, :active) {
    background: #0082e6;
    border-color: #0082e6;
    color: #FFFFFF;
}

.rncm__button-link {
    border: none;
    color: #121212;
}

.rncm__button-link:is(:hover, :active) {
    color: #008ffb;
}

.rncm__button-cta {
    border-color: #008ffb;
    background: #008ffb;
    color: #FFFFFF;
}

.rncm__button-cta:is(:hover, :active) {
    background: #0082e6;
    border-color: #0082e6;
}

.rncm__bottom_links {
    font-size: 0.8rem;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
}

.rncm__bottom_links>a {
    margin: 0 4px;
    color: #121212;
}

.rncm__bottom_links>span {
    margin: 0 4px;
}

.rncm__settings-list {
    max-height: 300px;
    overflow-y: auto;
}

.rncm__settings-section {
    /* background: #f0f0f0; */
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}

.rncm__settings-section>h3 {
    margin: 0 0 8px 0;
    padding: 0;
}

.rncm__setting-row {
    margin: 4px 0;
    padding: 8px;
    /* background: #ffffff; */
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    /* display: flex; */
}

.rncm__setting-row>p {
    margin: 4px 0;
}

.rncm__setting-row>a {
    margin: 0;
    color: #121212;
    font-size: 0.8rem;
}

.rncm__setting-row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.rncm__setting-row-title {
    flex-grow: 1;
}

.rncm__setting-row-toggle {
    display: inherit;
}

.rncm__setting-row-state {
    margin-right: 8px;
}

.rncm__setting-row-title>h4 {
    margin: 0 0 4px 0;
    padding: 0;
}

.rncm__setting-row-title>h5 {
    margin: 0;
    padding: 0;
}


/* ######################## REACT-TOGGLE ######################## */


/* ######################## REACT-TOGGLE ######################## */


/* ######################## REACT-TOGGLE ######################## */


/* ######################## REACT-TOGGLE ######################## */


/* ######################## REACT-TOGGLE ######################## */


/* ######################## REACT-TOGGLE ######################## */

.react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
}